*{
    margin: 0;
    padding: 0;
    font-family: outfit;
}
body{
    background-color: rgb(0, 0, 0);
}
nav{
    background: black;
}


nav img{
    width: 30px;
}

#nav-frame-heading{
    color: white;
    font-weight: bold;
}

.nav-li a {
    color: rgba(245, 245, 245, 0.595);
    font-weight: 500;
}
.nav-li a:hover{
    color: white;
}

#login-button{
    border: none;
    background-color: black;
    color: grey;
    margin: 0px 10px;
    font-weight: 500;
}

#signup-button{
    background-color: white;
    border: 40px;
    padding: 3px 6px;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: 500;

}
.heading-section{
   display: flex;
   justify-content: space-between; 
   
}
.heading-section-left{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 150px;
}
.heading-section-left h1{
    font-size: 80px;
    color: white;
    font-weight: bold;
}
.heading-section-left p{
    font-size: 30px;
    color: whitesmoke;
}
.heading-section-left div{
    display: flex;
    gap: 10px;
}


.heading-section-right video{
    width: 75%;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}
#start-for-free{
    background-color: white;
    border: 40px;
    padding: 5px 12px;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

#watch-video{
    background-color: white;
    border: 40px;
    padding: 5px 12px;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

@media screen and (max-width:968px) {
    .heading-section{
        margin: 30px;
        flex-direction: column;
    }
    .heading-section-left{
        margin: 60px 0px;
    }
    .heading-section-right video{
        position: relative;
        width: 100%;
    }
    .heading-section-left h1{
        font-size: 50px;
    }
    .heading-section-left p{
        font-size: 20px;
    }
}


@media screen and (max-width:468px) {
    .heading-section{
        margin: 30px;
        flex-direction: column;
    }
    .heading-section-left{
        margin: 60px 0px;
    }
    .heading-section-right video{
        position: relative;
        width: 100%;
    }
    .heading-section-left h1{
        font-size: 40px;
    }
    .heading-section-left p{
        font-size: 15px;
    }
}


/* git remote add origin https://github.com/mohammedfazil2005/framer_clone.git */